/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*COMMON*/
body {
	font-family: "Montserrat", sans-serif;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.float-l {
	float: left;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.two-col {
	width: 50%;
}
.text-content li a {
	color: #32495b;
}
.btn {
	padding: 10px;
	border: 1px solid #fe775a;
	color: white;
	background-color: #fe775a;
	border-radius: 9px;
}
.text-right {
	text-align: right;
}
/*HEADER*/
.over-menu {
	background-color: #f4f9fd;
	border-bottom: 1px solid #32495b;
}
.over-menu ul li {
	display: inline-block;
	padding: 10px 0;
}
.over-menu .text-content li:first-child a {
	border-right: 1px solid #899397;
}
.over-menu {
	padding: 1%;
}
.over-menu .text-content li:first-child a i:nth-child(2) {
	padding-right: 20px;
}
.search-login li {
	margin-left: 20px;
}
.over-menu .search-login i {
	color: #00a4bd;
}
.over-menu .search-login li:nth-child(2) a {
	background-color: white;
	color: #fe775a;
}
