/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*COMMON*/
body {
	font-family: "Montserrat", sans-serif;
}
img {
	width: 100%;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.float-l {
	float: left;
}
.two-col {
	width: 50%;
}
.three-col {
	width: 30%;
}
.three-col:nth-child(2) {
	margin: 0 5%;
}
.four-col {
	width: 25%;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
.four-col:last-child {
	border-right: none;
}
.text-content li a,
.text-content {
	color: #32495b;
}
.btn {
	padding: 10px;
	border: 1px solid #fe775a;
	color: white;
	background-color: #fe775a;
	border-radius: 9px;
}
.text-right {
	text-align: right;
}
.padding-td {
	padding: 2% 0;
}
.p-text {
	padding: 2% 0;
	line-height: 37px;
}
.center-text {
	text-align: center;
}
.h-color {
	color: #33475b;
}
.card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 3px #e6ecf1;
}
.line {
	border-bottom: 2px solid #32495b;
	width: 50%;
	margin-left: 50px;
}
.icon-check {
	color: #fe775a;
	margin: 0 10px;
}
.white-color {
	color: white;
}
/*HEADER*/
.over-menu {
	background-color: #f4f9fd;
	border-bottom: 1px solid #32495b;
}
.over-menu ul li,
.menu li {
	display: inline-block;
	padding: 10px 0;
}
/*language and contact*/
.over-menu li:first-child a {
	border-right: 1px solid #899397;
}
.over-menu li:first-child a i:nth-child(2) {
	padding-right: 20px;
}
.over-menu li:nth-child(2),
.menu li {
	padding-left: 20px;
}
/*search and login*/
.search-login li {
	margin-left: 20px;
}
.search-login li:first-child a {
	border: none;
}
.over-menu .search-login i {
	color: #00a4bd;
}
.over-menu .search-login li:nth-child(2) a {
	background-color: white;
	color: #fe775a;
}
/*logo and menu*/
.logo {
	width: 18%;
}
.menu i {
	margin-left: 10px;
}
/*teaser*/
.teaser {
	position: relative;
	background-image: url("../img/jumbotron.png");
	height: 600px;
	background-size: 1233px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-color: #fff3ee;
}
.layover {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14%;
	background-color: #afebe4;
	border-top: 3px solid #33475b;
	border-bottom: 3px solid #33475b;
}
.teaser-text {
	width: 50%;
	padding-top: 5%;
}
.teaser-text h1 {
	color: #33475b;
	font-size: 65px;
}
.teaser a {
	display: inline-block;
	padding: 3%;
}
.teaser p:last-child {
	font-size: 10px;
}
/*MAIN*/
.first-section {
	background-color: #f4f9fd;
}
/*first-row*/
.first-row {
	width: 50%;
	margin: auto;
}

.first-row img {
	width: 50%;
	display: inline-block;
}
/*second-row*/
.second-row {
	padding: 3%;
	width: 100%;
}
.learn-more {
	width: 40%;
	text-align: center;
}
.learn-more img,
.three-col img {
	display: block;
	padding: 4% 0;
	width: 50%;
	margin: auto;
}
.learn-more a {
	display: inline-block;
	margin-top: 15px;
	padding: 20px 50px;
}
.free-hub {
	width: 60%;
	padding: 50px 0;
}
.free-hub h3,
.line {
	display: inline-block;
	vertical-align: middle;
}
.free-hub ul li {
	display: inline-block;
	padding-top: 5%;
}

/*third-row*/
.third-row {
	width: 100%;
	padding: 50px 0;
}
.three-col {
	padding: 2% 4%;
}
.three-col img {
	width: auto;
	height: 200px;
}
.third-row .three-col .line {
	margin: 0;
	width: 100%;
}
.three-col li {
	text-align: left;
	line-height: 30px;
}
.three-col .icon-check {
	margin-left: 0;
}
.third-row h3 {
	padding: 5% 0;
}
.third-row a {
	display: inline-block;
	margin-top: 50px;
	padding: 20px 50px;
}
/*Second Section*/
.second-section {
	background: rgb(0, 169, 185);
	background: linear-gradient(
		90deg,
		rgba(0, 169, 185, 1) 0%,
		rgba(0, 187, 168, 1) 100%
	);
}
.head-second-section h2 {
	font-size: 38px;
}
.float-table {
	width: 100%;
	padding-bottom: 5%;
}
.four-col {
	padding: 2%;
}
.four-col img {
	width: auto;
	height: 50px;
	display: inline-block;
}
.four-col h3 {
	font-size: 50px;
	font-weight: 900;
	padding: 10% 0;
}
